version: '3.8'

services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    environment:
      - SECRET_KEY=57qf6mryrrm#-(wmdo2)f8-2!bdq9*-s&o==s$$0(3d20mz9e02
      - DEBUG=1
    volumes:
    - .:/code
    ports:
    - 8000:8000
    depends_on:
      - db
  db:
    image: postgres:11
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
volumes:
  postgres_data:
