<div class="tab-pane fade" id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab">

    {% for task in tasks %}
        <div class="card mt-3 mx-auto shadow-sm">
            <div class="card-body pb-1">
                <p>{{ task.body }}</p>
                <hr>
                {% if task.file %}
                    <a href="{{ task.file.url }}">download task files</a>
                {% endif %}
            </div>

            <div class="card-footer mt-3">
                <a href="{% url 'task_detail_subject' subject.pk task.id %}" class="btn btn-primary" type="button">Details</a>
            </div>
        </div>
    {% endfor %}

</div>