{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Task details{% endblock %}

{% block content %}
    <div class="card mt-3 mx-auto shadow-sm bg-light" style="width: 60%">
        <div class="card-body">
            <a class="btn btn-primary ml-1" type="button"
               href="{% url 'student_task_done_subject' task.subject.pk task.id %}">Return Task</a>
            <a class="btn btn-primary ml-1" type="button"
               href="{% url 'student_task_done_detail_subject' task.subject.pk task.id %}">Returned Task</a>
        </div>
    </div>
    <div class="card mt-3 mx-auto shadow-sm" style="width: 60%">
        <div class="card-body pb-4">
            <p class="mb-5">
                <span class="font-weight-lighter text-muted float-right">
                    {{ task.pub_date }}
                </span>
            </p>
            <hr>
            <p>{{ task.body }}</p>
            <hr>
            {% if task.file %}
                <a href="{{ task.file.url }}">download task files</a>
            {% endif %}
        </div>
    </div>

    <form method="post" class="mt-4 mx-auto" style="width: 60%">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Publish a comment</h5>
                <textarea placeholder="You can write a comment right there" class="form-control"
                          type="text" id="body" name="body" required></textarea>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary float-right" type="submit">Comment</button>
            </div>
        </div>
    </form>

    {% for comment in comments %}
        <div class="card mt-3 mx-auto shadow-sm" style="width: 60%">
        <div class="card-body pb-1">
            <p>
                <span class="font-weight-bold">{{ comment.author }}: </span>
                <span class="text-mutex">
                    {{ comment.body }}</span>
            </p>
        </div>
    </div>
    {% endfor %}

{% endblock %}