{% extends '_base.html' %}

{% block title %}{{ subject.name }}{% endblock %}

{% block content %}
    <div class="row mt-2">
        <div class="col-3 mt-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-posts-tab" data-toggle="pill" href="#v-pills-posts"
                   role="tab" aria-controls="v-pills-posts" aria-selected="true">Posts</a>
                <a class="nav-link" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab"
                   aria-controls="v-pills-tasks" aria-selected="false">Tasks</a>
                <a class="nav-link" id="v-pills-resources-tab" data-toggle="pill" href="#v-pills-resources" role="tab"
                   aria-controls="v-pills-resources" aria-selected="false">Resources</a>
                <a class="nav-link" id="v-pills-video-tab" data-toggle="pill" href="#v-pills-video" role="tab"
                   aria-controls="v-pills-video" aria-selected="false">Video</a>
            </div>
        </div>

        <div class="col-9">
            <div class="card mt-3 mx-auto shadow-sm bg-light">
                <div class="card-body">
                    <a class="btn btn-primary ml-1" type="button"
                    href="{% url 'post_create_teacher' subject.pk %}">Publish a post</a>
                    <a class="btn btn-primary ml-1" type="button"
                    href="{% url 'task_create_teacher' subject.pk %}">Publish a task</a>
                </div>
            </div>

            <div class="tab-content" id="v-pills-tabContent">
                {% include 'subjects/teacher_posts.html' %}

                {% include 'subjects/teacher_tasks.html' %}
                {% comment %}
                    {% include teacher_resources.html %}
                    {% include teacher_video.html %}
                {% endcomment %}
            </div>
        </div>

    </div>
{% endblock %}